.App {

  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  font-family: 'Gilroy-Light';
  font-size: 3vw;
  line-height: 1vw;
  color: black; */
  
}

main {
  display: grid;
  grid-template: min-content 1fr min-content / 1fr 1fr;
  width: 100%;
  padding: 2em 4em;
  box-sizing: border-box;
}

header {
  grid-column: 1 / span 2;
}

.buttons-cnr {
  grid-column: 1 / span 2;
  text-align: center;
}