.tweet {
    font-family: 'Gilroy-Light';
    
}

.tweet-content {
    display: grid;
    grid-template: 1fr 1fr;
    padding: 0em 2em 0em 0em;
    text-align: left;
    grid-gap: 3em;

}

.tweet-upper {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 4vw;
    align-items: center;
    

}

.tweet-username {
    font-family: 'Gilroy-ExtraBold';
    font-size: 2vw;
}

.tweet-text {
    font-family: 'Gilroy-Light';
    font-size: 3vw;
    text-align: center;
}

#avatar {
    border-radius: 50%;
    background-color: blue;
} 

.tweet-time {
    font-size: 1.5vw;
}

.no-tweet {
    text-align: center;
    font-size: 5vw;
}