.Upper {
font-family: 'Gilroy-Light';
/* position: absolute; */
/* top: 10%;
bottom: 585.5px;
left: 10%; */
display: flex;
/* width: 80vw; */
box-orient: horizontal;
box-direction: normal;
flex-direction: row;
box-pack: justify;
justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
box-align: center;
align-items: center;
-ms-flex-align: center;
align-items: center;
/* font-size: 9vw;
line-height: 9vw; */
text-align: center;

font-size: 6em;
}