.Upper {
font-family: 'Gilroy-Light';

display: flex;

box-orient: horizontal;
box-direction: normal;
flex-direction: vertical;
box-pack: justify;
justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;


-ms-flex-align: center;
align-items: center;

text-align: center;

font-size: 9vw;

}